$minWidthContent: 307px;
$maxWidthContent: 962px;
$logo: url(./images/logo.svg);

* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
}

::-webkit-scrollbar {
	display: none;
}

header {
	position: fixed;
	height: 72px;
	width: 100%;
	box-shadow: 0 0 10px 0 #b8b8b8;
	background: white;
	display: flex;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.header-logo {
			background: $logo;
			width: 120px;
			height: 13px;
		}

		.header-btn-container {
			display: flex;
			align-items: center;

			.sign-in-btn {
				background: none;
				border: 1px solid #E0E0E0;
				border-radius: 2px;
				width: 78px;
				height: 40px;
			}

			.bascet-btn {
				margin-left: 27px;
				border: none;
				background: url(./images/basket.svg);
				width: 19px;
				height: 23px;
			}
		}
	}
}



main {
	padding-top: 72px;

	.search {
		.search-field-container {
			height: 48px;
			display: flex;
			align-items: flex-end;

			.search-field {
				display: block;
				width: 100%;
				border: none;
				outline: none;
			}
		}

		.hor-line-dark {
			background-color: #757575; // Цвет линии 
			height: 1px; // Толщина линии
			opacity: 0.3;
		}
	}

	.rest-cards-container {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}

	.list-restaurats {
		.header-list-rest {
			font-family: Roboto;
			font-size: 16px;
		}

		.card {
			width: 308px;
			height: 366px;
		}

		.rest-img {
			height: 256px;
			width: 100%;
		}
	}
}

footer {
	background: #262626;
	height: 552px;

	.footer-logo {
		background: $logo;
		width: 191px;
		height: 20px;
	}

	.hor-line-light {
		background-color: white; // Цвет линии 
		height: 1px; // Толщина линии
		opacity: 0.3;
	}

	.social {
		width: 92px;
		height: 60px;

		.hash-tag {
			.green-sharp {
				color: #49A144;
				font-size: 16px;
			}

			.tag {
				font-size: 16px;
				color: white;
				;
			}
		}
	}

	.download-container {
		.download-btn {
			width: 135px;
			height: 40px;
		}
	}

	.information {
		.privacy {
			opacity: 0;
		}
	}
}

.content {
	margin: auto;
	width: 100vw;
	max-width: $maxWidthContent;
	min-width: $minWidthContent;
	padding: 0 8px;
}

.btn-up {
	border: none;
	background: url(./images/btnUp.svg);
	width: 80px;
	height: 80px;
	position: fixed;
	right: 16px;
	bottom: 24px;
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: RobotoItalic;
	src: url(./fonts/Roboto-Italic.ttf);
}