* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  color: #1D1D1D;
}

::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  height: 72px;
  width: 100%;
  -webkit-box-shadow: 0 0 10px 0 #b8b8b8;
          box-shadow: 0 0 10px 0 #b8b8b8;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .header-logo {
  background: url(./images/logo.svg);
  width: 120px;
  height: 13px;
}

header .header-container .header-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .header-btn-container .sign-in-btn {
  background: none;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  width: 78px;
  height: 40px;
  font-family: RobotoMedium;
}

header .header-container .header-btn-container .bascet-btn {
  margin-left: 27px;
  border: none;
  background: url(./images/basket.svg);
  width: 19px;
  height: 23px;
}

@media (max-width: 632px) {
  header .header-container .header-btn-container .bascet-btn {
    display: none;
  }
}

main {
  padding-top: 72px;
}

main .search {
  margin-bottom: 56px;
}

main .search .search-field-container {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .search .search-field-container .search-field {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

main .search .hor-line-dark {
  background-color: #757575;
  height: 1px;
  opacity: 0.3;
}

main .rest-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

main .list-restaurats {
  margin-bottom: 80px;
}

main .list-restaurats .header-list-rest {
  font-family: Roboto;
  font-size: 22px;
  margin-bottom: 16px;
}

main .list-restaurats .card {
  width: 308px;
  height: 366px;
}

main .list-restaurats .card .rest-img {
  height: 256px;
  width: 100%;
}

main .list-restaurats .card .rest-title {
  font-size: 16px;
}

main .list-restaurats .card .dish-top {
  font-size: 14px;
  color: #626262;
}

main .list-restaurats .card .cooking-time {
  font-size: 13px;
}

footer {
  background: #262626;
  height: 552px;
}

footer .footer-logo {
  background: url(./images/logo.svg);
  width: 191px;
  height: 20px;
}

footer .hor-line-light {
  background-color: white;
  height: 1px;
  opacity: 0.3;
}

footer .social {
  width: 92px;
  height: 60px;
}

footer .social .hash-tag .green-sharp {
  color: #49A144;
  font-size: 16px;
}

footer .social .hash-tag .tag {
  font-size: 16px;
  color: white;
}

footer .download-container .download-btn {
  width: 135px;
  height: 40px;
}

footer .information .privacy {
  opacity: 0;
}

.content {
  margin: auto;
  width: 100vw;
  max-width: 962px;
  min-width: 307px;
  padding: 0 8px;
}

.btn-up {
  border: none;
  background: url(./images/btnUp.svg);
  width: 80px;
  height: 80px;
  position: fixed;
  right: 16px;
  bottom: 24px;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: RobotoItalic;
  src: url(./fonts/Roboto-Italic.ttf);
}
/*# sourceMappingURL=style.css.map */