$minWidthContent: 307px;
$maxWidthContent: 962px;
$logoDark: url(./images/logoDark.svg);
$logoLight: url(./images/logoLight.svg);
$footerColorBackground: #262626;


* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto;
	color: #1D1D1D;
}

::-webkit-scrollbar {
	display: none;
}

.hor-line-light {
	background-color: white; // Цвет линии 
	height: 1px; // Толщина линии
	opacity: 0.3;
}

.hor-line-dark {
	background-color: #757575; // Цвет линии 
	height: 1px; // Толщина линии
	opacity: 0.3;
}

.content {
	margin: auto;
	width: 100vw;
	max-width: $maxWidthContent;
	min-width: $minWidthContent;
	padding: 0 8px;
}

header {
	position: fixed;
	height: 72px;
	width: 100%;
	box-shadow: 0 0 10px 0 #b8b8b8;
	background: white;
	display: flex;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.header-logo {
			background: $logoDark;
			width: 120px;
			height: 13px;
		}

		.header-btn-container {
			display: flex;
			align-items: center;

			.sign-in-btn {
				background: none;
				border: 1px solid #E0E0E0;
				border-radius: 2px;
				width: 78px;
				height: 40px;
				font-family: RobotoMedium;
			}

			.bascet-btn {
				margin-left: 27px;
				border: none;
				background: url(./images/basket.svg);
				width: 19px;
				height: 23px;
			}

			@media (max-width: 632px) {
				.bascet-btn {
					display: none;
				}
			}
		}
	}
}

main {
	padding-top: 72px;

	.search {
		margin-bottom: 56px;

		.search-field-container {
			height: 48px;
			display: flex;
			align-items: flex-end;

			.search-field {
				display: block;
				width: 100%;
				border: none;
				outline: none;
				font-size: 16px;
			}
		}
	}

	.rest-cards-container {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}

	.list-restaurats {
		margin-bottom: 80px;

		.header-list-rest {
			font-family: Roboto;
			font-size: 22px;
			margin-bottom: 16px;
		}

		.card {
			width: 308px;
			height: 366px;

			.rest-img {
				height: 256px;
				width: 100%;
			}

			.rest-title {
				font-size: 16px;
			}

			.dish-top {
				font-size: 14px;
				color: #626262;
			}

			.cooking-time {
				font-size: 13px;
			}
		}
	}
}

@media (max-width: 650px) {
	.contacts-container {
		display: flex;
		flex-direction: column;
	}
}

footer {
	background: $footerColorBackground;

	.footer-logo-container {
		padding: 56px 0 41px;

		.footer-logo {
			background: $logoLight;
			width: 191px;
			height: 20px;
		}
	}

	.contacts-container {
		display: flex;

		.lang-and-contacts {
			width: 33.33vw;
			max-width: 308px;
			min-width: 245px;
			padding-top: 39px;
			padding: 32px 0 48px;

			.select-lang {
				height: 40px;
				width: 227px;
				display: flex;
				background: #3B3B3B;
				margin-bottom: 33px;

				.world-ico-container {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 40px;
					width: 48px;

					.world-ico {
						display: flex;
						width: 16px;
						height: 16px;
					}
				}

				.language {
					width: 179px;
					background: #3B3B3B;
					color: white;
					border: none;

					.lang-option {
						color: white;
					}
				}
			}

			.social {
				height: 60px;

				.hash-tag {
					height: 19px;
					margin-bottom: 17px;

					.green-sharp {
						color: #49A144;
						font-size: 16px;
					}

					.tag {
						font-size: 16px;
						color: white;
					}
				}

				&-icon {
					margin-right: 10px;
				}
			}
		}

		.foot-link {
			color: white;
			text-decoration: none;
			margin-bottom: 23px;
		}

		.partnership {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;

			width: 33.33vw;
			max-width: 308px;
			min-width: 255px;
			padding-top: 39px;
		}

		.service {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;

			width: 33.33vw;
			max-width: 308px;
			min-width: 240px;
			padding: 39px 0 48px;

		}
	}

	.download-container {
		.download-btn {
			width: 135px;
			height: 40px;
		}
	}

	.information {
		.privacy {
			opacity: 0;
		}
	}
}

.btn-up {
	border: none;
	background: url(./images/btnUp.svg);
	width: 80px;
	height: 80px;
	position: fixed;
	right: 16px;
	bottom: 24px;
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: RobotoBold;
	src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: RobotoMedium;
	src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: RobotoItalic;
	src: url(./fonts/Roboto-Italic.ttf);
}